---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="my-[70px] relative">
    <SectionTitle
      sectionTitle="Contact Us"
      description="Connect with Us: Drop a message and we'll get back to you."
    />
    <Form />
  </div>
</Section>