---
import { Image } from "astro:assets";
import HeroIlust from "../../assets/pics/hero-pic.png";
import Section from "./Section.astro";
---

<Section id="home">
  <div
    class="grid grid-cols-1 md:grid-cols-2 mt-[205px]"
  >
    <div class="flex flex-col w-full lg:w-[66.5%]">
      <h1>Navigating the digital landscape for success</h1>
    </div>
    <picture class="row-span-1 md:row-span-3">
      <Image src={HeroIlust} alt="Hero Ilustration" loading="eager" />
    </picture>
    <div class="w-full lg:w-[66.5%]">
      <p class="my-[35px]">
        This is a side project I've been working on for a while now. It's a location-based app that lets you 
        know your friends' last pinged location in campus.
      </p>

      <div
        class="gap-4 flex flex-col md:flex-row w-full justify-center"
      >
        <a
          href="https://github.com/arpy8/wya/releases"
          target="_blank"
          rel="noopener noreferrer"
          class="w-full md:w-auto"
          ><button class="btn-primary w-full md:w-auto">Download APK</button></a
        >
        <a
          href="https://github.com/arpy8/wya"
          target="_blank"
          rel="noopener noreferrer"
          class="w-full md:w-auto"
          ><button class="btn-secondary w-full md:w-auto">Source Code</button
          ></a
        >
      </div>
    </div>
  </div>
</Section>
<style>
  .grid-template {
    grid-template-rows: auto 1fr;
  }
</style>