---
import { Image } from "astro:assets";
import HeroIlust from "../../assets/pics/hero-pic-2.png";
import Section from "./Section.astro";
---

<Section id="home">
  <div
    class="grid grid-cols-1 md:grid-cols-2 mt-[205px]"
  >
    <div class="flex flex-col w-full lg:w-[66.5%]">
      <!-- <h1>An app to know your friends' last pinged location</h1> -->
      <h1 class="mt-[72px]">A friendly location pinger</h1>
    </div>
    <picture class="hidden md:flex row-span-1 md:row-span-3 justify-end items-center">
      <Image src={HeroIlust} alt="Hero Ilustration" loading="eager" />
    </picture>
    <div class="w-full lg:w-[66.5%]">
      <p class="my-[35px]">
        An app that allows you to see your friends' last pinged location within the campus and lets them see yours in return.
      </p>

      <div
        class="gap-4 flex flex-col md:flex-row w-full justify-center"
      >
        <a
          href="https://github.com/arpy8/wya/releases"
          target="_blank"
          rel="noopener noreferrer"
          class="w-full md:w-auto"
          ><button class="btn-primary w-full md:w-auto">Download APK</button></a
        >
        <a
          href="https://github.com/arpy8/wya"
          target="_blank"
          rel="noopener noreferrer"
          class="w-full md:w-auto"
          ><button class="btn-secondary w-full md:w-auto">Source Code</button
          ></a
        >
      </div>
    </div>
  </div>
</Section>
<style>
  .grid-template {
    grid-template-rows: auto 1fr;
  }
</style>